/*
********************* DEFULT STYLE *********************
*/

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg,
img,
iframe {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: Arial, sans-serif;
  min-width: 400px;
}

/*
********************* HEADER STYLE *********************
*/

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 14px 10px 6px;
  font-size: 13px;
}

a {
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}

a:hover {
  text-decoration: underline;
}

.header-text-link {
  margin-left: 15px;
}

.apps-icon svg {
  width: 24px;
  fill: #5f6368;
}

.apps-icon {
  padding: 8px;
  border-radius: 50%;
  margin-left: 19px;
}

.apps-icon:hover {
  background-color: #3c404314;
}

.profile-icon {
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  margin-left: 8px;
}

.profile-icon:hover {
  background-color: #3c404314;
}

.profile-icon img {
  border-radius: 50%;
}
