/*
********************* Defult Style *********************
*/

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: pink;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 0px;
  line-height: 0px;
}

input {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: Arial, sans-serif;
  min-width: 400px;
}

/*
*********************  Header Section Style  *********************
*/

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 14px 10px 6px;
  font-size: 13px;
}

header a {
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.87);
}

.header-text-link {
  margin-left: 15px;
}

.apps-icon-link svg {
  width: 24px;
  fill: #5f6368;
}

.apps-icon-link {
  padding: 8px;
  border-radius: 50%;
  margin-left: 19px;
  font-size: 0px;
  line-height: 0px;
}

.apps-icon-link:hover {
  background-color: #3c404314;
}

.profile-icon-link {
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  margin-left: 8px;
  font-size: 0px;
  line-height: 0px;
}

.profile-icon-link:hover {
  background-color: #3c404314;
}

.profile-icon-link img {
  border-radius: 50%;
}

/*
*********************  Main Section Style  *********************
*/

main {
  height: calc(100% - 154px);
}

.google-logo-container {
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.magnify-icon {
  width: 20px;
  height: 20px;
  margin: 12px 13px 12px 14px;
  fill: #9aa0a6;
}

.remove-text-link {
  display: block;
  padding: 10px 0px 10px 8px;
  margin-right: 4px;
}

.remove-text-link svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: #70757a;
  margin-right: 12px;
}

.link-border-right {
  border-left: 1px solid #dfe1e5;
  height: 100%;
  display: inline-block;
}

.mic-icon-link {
  padding: 0 8px;
  margin-right: 8px;
}

.mic-icon-link svg {
  width: 24px;
  margin-top: 10px;
}

.search-bar {
  margin: 26px auto 0;
  max-width: 584px;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 46px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000de;
  max-width: 584px;
}

.search-bar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  border-color: rgba(223, 225, 229, 0);
}

input:not(:valid) ~ .remove-text-link {
  display: none;
}

.search-buttons {
  display: flex;
  padding-top: 18px;
  justify-content: center;
}

input[type="submit"] {
  display: flex;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  font-family: arial, sans-serif;
  padding: 0 16px;
  margin: 11px 6px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  align-items: flex-start;
}

input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  background-color: #f8f9fa;
  color: #202124;
  cursor: pointer;
}

main .language-bar {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.language-bar {
  text-align: center;
  display: inline-block;
  line-height: 28px;
  font-size: 13px;
}

.language-bar a {
  padding: 0 3px;
  color: #1a0dab;
  text-decoration: none;
}

.language-bar a:hover {
  text-decoration: underline;
}

/*
*********************  Footer Section Style  *********************
*/
footer {
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer h4 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  line-height: 17px;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

.footer-second-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  padding: 0 20px;
  color: rgb(112, 117, 122);
}

footer a {
  color: #5f6368;
  padding: 15px;
  display: inline-block;
}

footer a:hover {
  text-decoration: underline;
}

/*
*********************  Media Queries  *********************
*/

@media only screen and (max-width: 1200px) {
  .footer-second-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 663px) and (max-width: 683px) {
  .footer-second-line a {
    padding: 13px;
  }
}

@media only screen and (max-width: 663px) {
  .footer-second-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
